.devMagic {
  padding: 200px 0;
  background-image: url('../../img/bg/bg.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &__cont {
    width: 1200px;
    margin: 0 auto;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img {
  position: relative;
    }

    &__info {
      width: 570px;

      h2 {
        font-family: "Playfair Display", serif;
        font-size: 3.5rem;
        font-weight: 900;
        letter-spacing: .1rem;
        margin-bottom: 40px;
      }

      p {
        width: 440px;
        margin-bottom: 20px;
        font-size: 1.1rem;

      }
    }
  }

}

.particle {

  --angle: (5 * var(--index));
  --radius: 30;
  --x: calc(sin(var(--angle)) * var(--radius) * 1vmin);
  --y: calc(cos(var(--angle)) * var(--radius) * 1vmin);

  --angle2: calc(var(--index) * 1turn / var(--total));
  --x2: calc(sin(var(--angle2)) * var(--radius) * 1vmin);
  --y2: calc(cos(var(--angle2)) * var(--radius) * 1vmin);

  --size: 4;
  --speed: 4s;
  --delay: calc(var(--index) * var(--speed) / var(--total) * 4);

  --hue-angle: 10;
  --hue-range: 60;
  --hue-start: 20;

  animation: animation var(--speed) ease-out infinite alternate var(--delay);
  transform: translate3d(var(--x), var(--y), 0);
  opacity: 0;

  border-radius: 50%;
  background: currentColor;
  color: oklch(95% 0
      calc(
        sin(var(--hue-angle) * var(--index)) 
        * var(--hue-range) 
        + var(--hue-start)
      )
  );
  position: absolute;
  right: 250px;
  width: calc(var(--size) * 0.1vmin);
  height: calc(var(--size) * 0.1vmin);
  contain: strict; 
}

@keyframes animation {
  100% {
    transform: translate3d(var(--x2), var(--y2), 0);
    opacity: 1;
  }
}

@include desktop() {
  .devMagic {


    &__cont {
      width: 1000px;

      &__img {
        canvas {
          width: 56vmin;
          height: 55vmin;
        }
      }
    }
  }

  .particle {

    --radius: 25;
    right: 200px;
 
  }

}

@include tablet() {

  .devMagic {
    padding: 180px 0;

    &__cont {
      width: 700px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      &__img {
        canvas {
          width: 40vmin;
          height: 40vmin;
        }
      }

      &__info {
        width: 570px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 400px;

        h2 {
          font-size: 3rem;
          font-weight: 900;
          letter-spacing: .1rem;
          margin-bottom: 20px;
        }

        p {
          width: 440px;
          margin-bottom: 20px;
          font-size: 1.1rem;
          text-align: center;
        }
      }
    }
  }

  
  .particle {

    --radius: 27;
    top: -170px;
    right: 50%;
 
  }


}

@include mobile() {

  .devMagic {
    padding: 150px 0;

    &__cont {
      width: 500px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      &__img {
        canvas {
          width: 70vmin;
          height: 70vmin;
          margin-top: 20px;
        }
      }

      &__info {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          font-size: 2rem;
          font-weight: 900;
          letter-spacing: .1rem;
          margin-bottom: 20px;
        }

        p {
          width: 100%;
          margin-bottom: 10px;
          font-size: 1rem;
        }
      }
    }
  }

}