.digitalPlayground {
  position: relative;
  background-image: url('../../img/bg/white__bg.png');
  background-size: cover;
  background-attachment: fixed;

  &__topSmoke {
    position: absolute;
    top: -10px;
    height: 250px;
    width: 100%;
    z-index: $ui-index-5;
  }

  &__cont {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 800px;
    margin: 400px auto;

    &__text {
      font-size: 1.5rem;
      text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.114);
      letter-spacing: .1rem;
      line-height: 30px;
      color: $black;
    }
  }
}





@include desktop() {
  .digitalPlayground {

    &__topSmoke {
      height: 200px;
    }

    &__cont {
      width: 900px;
      margin: 300px auto;
    }

  }

}

@include tablet() {
  .digitalPlayground {

    &__topSmoke {
      height: 180px;
      width: 100%;
    }

    &__cont {
      width: 700px;
      margin: 200px auto;

      &__text {
        font-size: 1.5rem;
        letter-spacing: .1rem;
        line-height: 30px;
      }
    }
  }

}

@include mobile() {

  .digitalPlayground {

    &__topSmoke {
      height: 100px;
      width: 100%;
    }

    &__cont {
      width: 350px;

      &__text {
        font-size: 1.1rem;
      }
    }
  }
}