.mainSection {
  position: relative;
  overflow: hidden;
  color: $white;
  height: 100vh;

  &__bg {
    width: 100%;
    height: 100%;
  }

  &__layerRight {
    position: absolute;
    top: -492px;
    left: -279px;
  }

  &__layerLeft {
    position: absolute;
    bottom: 0px;
    right: -204px;
  }

  &__cloudRight {
    position: absolute;
    bottom: -701px;
    left: -480px;
  }

  &__cloudLeft {
    position: absolute;
    bottom: -699px;
    right: -624px;
  }

  &__toplayerthird {
    position: absolute;
    height: 694px;
    width: 2000px;
    top: -396px;
    left: 0px;
  }

  &__toplayersecond {
    position: absolute;
    top: 0px;
    left: 21px;
  }

  &__toplayerfirst {
    position: absolute;
    top: 85px;
    right: 6px;
  }

  &__bottomSmoke {
    position: absolute;
    height: 250px;
    width: 100%;
    left: 0;
    bottom: -100px;
    z-index: $ui-index-3;
  }

  &__bottomlayerfirst {
    width: 150px;
    position: absolute;
    bottom: 87px;
    left: 211px;
  }

  &__bottomlayersecond {
    position: absolute;
    bottom: -84px;
    right: -133px;
    width: 400px;
    height: 400px;
  }

  &__bottomlayerthird {
    position: absolute;
    height: 600px;
    bottom: -265px;
    right: -43px;
    width: 2000px;
  }

  &__cont {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;

    &__title {
      font-family: "Playfair Display", serif;
      letter-spacing: .3rem;
      font-weight: 400;
      font-size: 7rem;
      line-height: 120px;
      text-shadow: 0 0 10px #ffffff13, 0 0 20px #ffffff1c, 0 0 30px #ffffff4b, 0 0 40px #ffffff4b, 0 0 70px #ffffff4b, 0 0 80px #ffffff4b, 0 0 100px #ffffff4b, 0 0 150px #ffffff4b;
      position: absolute;
      top: 25%;
      left: 10%;
    }

    &__subtitle {
      font-weight: 300;
      font-size: 1.2rem;
      letter-spacing: .2rem;
      line-height: 25px;
      display: flex;
      text-shadow: 0 0 10px #ffffff13, 0 0 20px #ffffff1c, 0 0 30px #ffffff4b;
      position: absolute;
      bottom: 25%;
      right: 15%;
    }
  }

  .scene {
    width: 100%;
    height: 100%;
    position: absolute;

    .layer {
      width: 100%;
      height: 100%;
    }
  }

}

@include desktop() {
  .mainSection {
    &__layerRight {
      top: -144px;
      left: 844px;
    }

    &__layerLeft {
      bottom: -152px;
      right: 989px;
    }

    &__cloudRight {
      position: absolute;
      bottom: -201px;
      left: -608px;
    }

    &__cloudLeft {
      bottom: -878px;
      left: 849px;
    }

    &__toplayerthird {
      top: -365px;
      left: -169px;
    }

    &__toplayersecond {
      top: -47px;
      left: -38px;
    }

    &__toplayerfirst {
      position: absolute;
      top: -47px;
      right: -14px;
    }

    &__bottomlayerfirst {
      bottom: 85px;
      left: 130px;
    }

    &__bottomlayersecond {
      width: 200px;
      height: 200px;
      bottom: 0px;
      right: 9px;
    }

    &__bottomlayerthird {
      position: absolute;
      height: 600px;
      top: 433px;
      right: -197px;
      width: 2000px;
    }

    &__cont {
      width: 1200px;

      &__title {
        font-size: 5.8rem;
        top: 169px;
        left: 156px;
      }

      &__subtitle {
        font-size: 1.2rem;
        letter-spacing: .2rem;
        bottom: 164px;
        right: 239px;
      }
    }

  }
}

@include tablet() {
  .mainSection {
    height: 750px;
    &__layerRight {
      top: -48px;
      left: 760px;
    }

    &__layerLeft {
      left: -718px;
      top: -458px;
    }

    &__cloudRight {
      bottom: -188px;
      left: 219px;
    }

    &__cloudLeft {
      bottom: -772px;
      left: -392px;
    }

    &__toplayerthird {
      top: -370px;
      left: -38px;
    }

    &__toplayersecond {
      top: -47px;
      left: -38px;
    }

    &__toplayerfirst {
      position: absolute;
      top: -47px;
      right: -14px;
    }

    &__bottomlayerfirst {
      bottom: 85px;
      left: 130px;
    }

    &__bottomlayersecond {
      width: 200px;
      height: 200px;
      bottom: 0px;
      right: 9px;
    }

    &__bottomlayerthird {
      position: absolute;
      height: 600px;
      top: 326px;
      right: -54px;
      width: 2000px;
    }

    &__cont {
      width: 700px;


      &__title {
        font-size: 5rem;
        top: 99px;
        left: 98px;
        text-align: center;
      }

      &__subtitle {
        font-size: 1rem;
        letter-spacing: .2rem;
        bottom: 300px;
        right: 222px;
        text-align: center;
      }
    }

  }
}

@include mobile() {
  .mainSection {
    height: 600px;

    &__bg {
      object-fit: cover;
    }

    &__layerRight {
      top: -246px;
      left: -307px;
    }

    &__layerLeft {
      left: 292px;
      top: -26px;
    }

    &__cloudRight {
      bottom: -204px;
      left: -68px;
    }

    &__cloudLeft {
      bottom: -892px;
      left: -460px;
    }

    &__toplayerthird {
      top: -428px;
      left: -621px;
    }

    &__toplayersecond {
      top: 14px;
      left: 0px;
      width: 100px;
      height: 100px;
    }

    &__toplayerfirst {
      position: absolute;
      top: -3px;
      right: 53px;
      width: 100px;
      height: 100px;
    }

    &__bottomlayerfirst {
      bottom: 85px;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &__bottomlayersecond {
      width: 200px;
      height: 200px;
      bottom: 48px;
      right: 56px;
      width: 100px;
      height: 100px;
    }

    &__bottomlayerthird {
      position: absolute;
      height: 600px;
      top: 314px;
      left: -677px;
      width: 2000px;
    }

    &__cont {
      width: 350px;

      &__title {
        line-height: 40px;
        font-size: 2.7rem;
        top: 136px;
        left: 40px;
        text-align: center;
      }

      &__subtitle {
        width: 80%;
        font-size: 1rem;
        letter-spacing: 0rem;
        line-height: 16px;
        bottom: 286px;
        right: 39px;
        text-align: center;
      }
    }
  }
}