.mainSection {
  position: relative;
  height: 100vh;

  overflow: hidden;
  color: $white;

  &__bg {
    width: 100%;
    height: 100%; 
  }

  &__layerRight {
    position: absolute;
    top: -192px;
    left: -246px; 
  }

  &__layerLeft { 
    position: absolute;
    bottom: 1224px;
    right: -246px;
  }

  &__cloudRight {
    position: absolute;
    bottom: -791px;
    right: 1164px;
  }

  &__cloudLeft {
    position: absolute;
    bottom: 781px;
    right: -600px;
  }

  &__toplayerthird {
    position: absolute;
    height: 694px;
    width: 2000px;
    top: -409px;
    left: -50px;
  }

  &__toplayersecond {
    position: absolute;
    top: -60px;
    left: 15px;
  }

  &__toplayerfirst {
    position: absolute;
    top: 52px;
    right: 179px;
  }

  &__bottomSmoke {
    position: absolute;
    height: 250px;
    width: 100%;
    left: 0;
    bottom: -100px;
    z-index: $ui-index-3;
  }

  &__bottomlayerfirst {
    width: 150px;
    position: absolute;
    bottom: 1600px;
    left: 50px;
  }

  &__bottomlayersecond {
    position: absolute;
    bottom: 1430px;
    right: 9px;
    width: 400px;
    height: 400px;
  }

  &__bottomlayerthird {
    position: absolute;
    height: 600px;
    top: -1060px;
    right: -25px;
    width: 2000px;
  }

  &__cont {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;

    &__title {
      font-family: "Playfair Display", serif;
      letter-spacing: .3rem;
      font-weight: 400;
      font-size: 7rem;
      line-height: 120px;
      text-shadow: 0 0 10px #ffffff13, 0 0 20px #ffffff1c, 0 0 30px #ffffff4b, 0 0 40px #ffffff4b, 0 0 70px #ffffff4b, 0 0 80px #ffffff4b, 0 0 100px #ffffff4b, 0 0 150px #ffffff4b;
      position: absolute;
      top: 150px;
      left: 150px;
    }

    &__subtitle {
      font-weight: 300;
      font-size: 1.2rem;
      letter-spacing: .2rem;
      line-height: 25px;
      display: flex;
      text-shadow: 0 0 10px #ffffff13, 0 0 20px #ffffff1c, 0 0 30px #ffffff4b;
      position: absolute;
      bottom: 150px;
      right: 150px;
    }
  }

  .scene {
    width: 100%;
    height: 100%;
    position: absolute;

    .layer {
      width: 100%;
      height: 100%;
    }
  }

}

@include desktop() {
  .mainSection {
    &__layerRight {
      top: -144px;
      left: -246px;
    }

    &__layerLeft {
      bottom: 1224px;
      right: -273px;
    }

    &__cloudRight {
      position: absolute;
      bottom: -248px;
      right: 886px;
    }

    &__cloudLeft {
      bottom: 781px;
      right: -567px;
    }

    &__toplayerthird {
      top: -409px;
      left: -50px;
    }

    &__toplayersecond {
      top: -96px;
      left: -17px;
    }

    &__toplayerfirst {
      position: absolute;
      top: 62px;
      right: 81px;
    }

    &__bottomlayerfirst {
      bottom: 1508px;
      left: 130px;
    }

    &__bottomlayersecond {
      width: 200px;
      height: 200px;
      bottom: 1430px;
      right: 9px;
    }

    &__bottomlayerthird {
      position: absolute;
      height: 600px;
      top: -996px;
      right: -261px;
      width: 2000px;
    }

    &__cont {
      width: 1200px;

      &__title {
        font-size: 6rem;
        top: -587px;
        left: 156px;
      }

      &__subtitle {
        font-size: 1.2rem;
        letter-spacing: .2rem;
        bottom: 974px;
        right: 154px;
      }
    }

  }
}

@include tablet() {
  .mainSection {
    &__layerRight {
      top: -144px;
      left: -246px;
    }

    &__layerLeft {
      bottom: 1224px;
      right: -273px;
    }

    &__cloudRight {
      position: absolute;
      bottom: -172px;
      right: 645px;
    }

    &__cloudLeft {
      bottom: 790px;
      right: -571px;
    }


    &__toplayerthird {
      top: -385px;
      left: -250px;
    }

    &__toplayersecond {
      top: -52px;
      left: -68px;
    }

    &__toplayerfirst {
      top: 84px;
      left: 561px;
      width: 100px;
      height: 100px;
    }

    &__bottomlayerfirst {
      bottom: 1508px;
      left: 130px;
    }

    &__bottomlayersecond {
      width: 200px;
      height: 200px;
      bottom: 1430px;
      right: 9px;
    }

    &__bottomlayerthird {
      position: absolute;
      height: 600px;
      top: -996px;
      right: -261px;
      width: 2000px;
    }

    &__cont {
      width: 700px;

      &__title {
        font-size: 5rem;
        line-height: 80px;
        top: -545px;
        left: 105px;
        text-align: center;
      }

      &__subtitle {
        font-size: 1.1rem;
        letter-spacing: .2rem;
        bottom: 1000px;
        right: 100px;
        text-align: center;
      }
    }

  }
}

@include mobile() {
  .mainSection {
    &__bg {
      object-fit: cover;
    }
  
    &__layerRight {
      top: -144px;
      left: -246px;
    }

    &__layerLeft {
      bottom: 1224px;
      right: -373px;
    }

    &__cloudRight {
      bottom: -172px;
      right: 255px;
    }

    &__cloudLeft {
      bottom: 744px;
      right: -622px;
    }


    &__toplayerthird {
      top: -385px;
      left: -250px;
    }

    &__toplayersecond {
      top: -52px;
      left: -68px;
    }

    &__toplayerfirst {
      top: 84px;
      left: 270px;
      width: 100px;
      height: 100px;
    }

    &__bottomlayerfirst {
      bottom: 1428px;
      left: -21px;
    }

    &__bottomlayersecond {
      bottom: 1478px;
      right: -79px;
    }

    &__bottomlayerthird {
      position: absolute;
      height: 600px;
      top: -1043px;
      right: -261px;
      width: 2000px;
    }

    &__cont {
      width: 325px;

      &__title {
        font-size: 2.8rem;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 50px;
        top: -496px;
        left: 48px;
      
      }

      &__subtitle {
        font-size: 0.9rem;
        bottom: 1000px;
        right: 59px;
        letter-spacing: 0;
        line-height: 20px;
      }
    }
  }
}