@import './variables';
@import './mixins';
@import './reset';
@import './media_breakpoints';



body {
  background-image: url(../../img/bg/bg__2.webp);
  background-color: #171717;
  color: white;
  font-family: "Overpass Mono", monospace;
  cursor: none;
}

a, button {
  cursor: none;
}

body .cursor {
  pointer-events: none;
}
body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
body .cursor__ball circle {
  fill: #f7f8fa;
}

@import './header';

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  // overflow-y: auto;
  perspective: 10px
}





@import './sidebar';
@import './main__section';
@import './digitalPlayground';
@import './aboutMe';
@import './devMagic';
@import './code';
@import './showcase';
@import './messageMe';
@import './footer';



.typing {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #ffffff;
  animation: typing 2s steps(20, end), cursor .2s steps(12, end) infinite;
}
@keyframes typing {
  from { width: 0 }
}
@keyframes cursor {
  50% { border-color: transparent }
}